* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    height: 100%;
}

html {
    font-family: -apple-system;
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
    font-size: 10px;
}
body {
    display: grid;
    place-items: center;
}

#chat_container {
    display: grid;
    grid: 
        'seach_container chat_title' 71px
        'coversation_list chat_message_list' 1fr
        'new_message_container chat_form' 78px
        / 275px 1fr;
    min-width: 800px;
    max-width: 1920px;
    min-height: 500px;
    max-height: 1080px;
    width: 100%;
    height: 95vh;
    background: white;
    border-radius: 10px;
}

#seach_container,
#coversation_list,
#new_message_container {
    background: #0048aa;

}

#seach_container{
    display: grid;
    align-items: center;
    padding: 10px 10px;
    grid-area: seach_container;
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

#seach_container input{
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 1.4rem;
    background: url('/icon/search.png') no-repeat rgba(255, 255, 255, 0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#seach_container input::placeholder{
    color: #ddd;
    font-weight: bold;

}

#coversation_list{
    grid-area: coversation_list;
    overflow-y: scroll;
}

.conversation{
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding: 20 20 20 15;
}

.conversation.active,
.conversation:hover{
    cursor: pointer;
    background: #002Cdd88;
}

.conversation > img{
    grid-row: span 2;
    height: 40px;
    border-radius: 100%;
}

.title_text{
    font-weight: bold;
    color: #eee;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.created_date{
    color: #ddd;
    font-size: 1rem;
}

.conversation_message{
    grid-column: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#new_message_container{
    display: grid;
    grid: 40px / 40px;
    align-content: center;
    grid-area: new_message_container;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0 0 0 10px;
    padding: 0 15px;
}



/*phần tử phủ toàn màn hình*/
#over {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    z-index: 999;
}

.addbtn {
    cursor: pointer;
    display: grid;
    place-content: center center;
    background: #eee;
    border-radius: 100%;
    color: #002C88;
    text-decoration: none;
    font-size: 3.6rem;
}

.addbtn:hover, .addbtn:focus {
    background-color: #ddd;
}

a, a:visited, a:active{
    text-decoration:none;
}

.add
{
    background-color:#002C88;
    height:auto;
    width:auto;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    padding-bottom:5px;
    display:none;
    overflow:hidden;
    position:absolute;
    z-index:99999;
    top:10%;
    left:50%;
    margin-left:-300px;
}
		
.add .add_title
{
    color:white;
    font-size:16px;
    padding:8px 0 5px 8px;
    text-align:left;
}

.add-content label {
    display: block;
    padding-bottom: 7px;
}

.add-content span {
    display: block;
}
.add-content
{
    padding-left:35px;
    padding-right:35px;
    background-color:white;
    margin-left:5px;
    margin-right:5px;
    height:auto;
    padding-top:15px;
    overflow:hidden;
}
	
.button{
    display: inline-block;
    min-width: 46px;
    text-align: center;
    color: #444;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0px 8px;
    line-height: 36px;
    border-radius: 4px;
    transition: all 0.218s ease 0s;
    border: 1px solid #DCDCDC;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);
    cursor: pointer;
}
.button:hover{
     border: 1px solid #DCDCDC;
    text-decoration: none;
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.add input
{
    border:1px solid #D5D5D5;
    border-radius:5px;
    box-shadow:1px 1px 5px rgba(0,0,0,.07) inset;
    color:black;
    font:12px/25px "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    height:28px;
    padding:0px 8px;
    word-spacing:0.1em;
    width:300px;
}
.submit-add{
    display: inline-block;
    padding: auto;
    margin: 15px 75px;
    width: 150px;
}
/* het */






#chat_title,
#chat_form{
    background: #eee;
}

#chat_title{
    display: grid;
    grid: 36px / 1fr 36px;
    align-content: center;
    align-items: center;
    grid-area: chat_title;
    color: #0048AA;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.75);
    padding: 0 20px;
}

#chat_title > img {
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#chat_message_list{
    overflow-y: scroll;
    grid-area: chat_message_list;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.message_row{
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}

.message_content{
    display: grid;

}

.you_message{
    justify-content: end;
}

.you_message .message_content{
    justify-items: end;
}

.other_message{
    justify-items: start;
}

.other_message .message_content{
    grid-template-columns: 48px 1fr;
    grid-column-gap: 15px;
}

.message_row img{
    border-radius: 100%;
    grid-row: span;
    width: 50px;
    height: 50px;
}

.message_text{
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.message_time{
    font-size: 1.3rem;
    color: #777;
}

.you_message .message_text{
    background: #0048AA;
    color: #eee;
    border: 1px solid #0048AA;
    border-radius: 14px 14px 0 14px;
}

.other_message .message_text{
    background: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}

#chat_form{
    display: grid;
    grid: 51px /32px 1fr;
    align-content: center;
    align-items: center;
    grid-gap: 15px;
    grid-area: chat_form;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    padding-left: 42px;
    padding-right: 22px;
}

#chat_form > img{
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#chat_form input{
    outline: none;
    padding: 15px;
    border: 2px solid #ddd;
    color: #330;
    border-radius: 6px;
    font-size: 1.4rem;
}

::-webkit-scrollbar{
    display: none;
}